body{
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

header{
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    background: url("images/pattern-intro.svg"), linear-gradient(to right, hsl(13, 100%, 72%) , hsl(353, 100%, 62%));
    background-size: 197%;
    background-position: 32% 49%;
    border-bottom-left-radius: 52px;
    padding-bottom: 100px;
}

nav{
    text-align: left;
    margin: 3% 8% 0 8%;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 5.5fr;
}

.logo{
    margin-left: 5%;
}

.navbar{
    margin-top: 2.5%;
    display: grid;
    grid-template-columns: 8em 8em 8em;
    float: left;
}

.navbar .dropbtn{
    float: left;
}
nav a{
    text-decoration: none;
    color: black;
}

.hamburger{
    display: none;
}

.dropbtn{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    width:75%;
}

.dropbtn:hover{
    text-decoration: underline white;
    cursor: pointer;
}

.dropbtn img{
    margin-left: 9%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    margin-top: 2%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    font-weight: bold;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

.sign-in{
   justify-content: right;
   text-align: right;
   margin-right: 5%;
}

.login{
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.login:hover{
    cursor: pointer;
}

.sign-up{
    border: none;
    outline: none;
    color: hsl(356, 100%, 66%);
    font-weight: bold;
    background-color: white;
    border-radius: 25px;
    padding: 15px 37px;
}

.sign-up:hover{
    background-color: hsl(355, 100%, 74%);
    color: white;
    cursor: pointer;
}

.head{
    text-align: center;
}

.head-text h1{
    color: white;
    margin: 2%;
}

.head-text p{
    color: white;
    margin: 0;
}

.learn{
    margin-top: 4%;
}

.learn-button{
    padding: 10px 13px;
    border-radius: 29px;
    border: none;
    margin: 4px;
}

#start-free{
    background-color: white;
    border: white 2px solid;
    color: hsl(356, 100%, 66%);
    font-weight: bold;
}

#learn-more{
    background-color: transparent;
    border: white 2px solid;
    color: white;
    font-weight: bold;
    
}

#start-free:hover{
  background-color: hsl(355, 100%, 74%);
  border: hsl(355, 100%, 74%) 2px solid;
  color: white;
  cursor: pointer;
}

#learn-more:hover{
    background-color: white;
    color: hsl(356, 100%, 66%);
    cursor: pointer;
}

.future{
  background: url("images/illustration-editor-desktop.svg");
  background-repeat: no-repeat;
  background-position: 58vw 0px;
  background-size: 49em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.6fr 1.5fr 41vh;
  margin: auto;
  margin-top: 4%;
  color: hsl(207, 13%, 34%);
}

.future-head{
    text-align: center;
    grid-column: 1 / 3;
    margin-top: 5%;
}

.future-head h1{
    font-size:30px;
}

.future-paragraph-1{
  grid-row: 2;
  grid-column: 1;
  margin-left: 15%;
  max-width: 77%;
  font-size: 16px;
  
}

.future-paragraph-2{
    grid-row: 3;
    grid-column: 1;
    margin-left: 15%;
    max-width: 77%;
    font-size: 16px;
    
  }

  .future-img{
      grid-row: 2 / 4;
      grid-column: 2;
  }

  .future-img img{
      max-width: 50%;
  }

  .state-art{
      display: grid;
      grid-template-columns: 1fr 1.6fr;
      background: url("images/bg-pattern-circles.svg"), linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
      background-repeat: no-repeat;
      background-position: -44% 85%;
      max-height: 20em;
      border-bottom-left-radius: 55px;
      border-top-right-radius: 55px;
  }

  .state-art img{
      max-width: 28em;
      margin-left: auto;
      position: relative;
      bottom: 6vh;
  }

  .state-text{
    align-items: center;
    margin: auto;
    margin-bottom: 14em;
    max-width: 32em;
    color: white;
  }

  .free-open-simple{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 19em 27em;
      /*background: url("images/illustration-laptop-desktop.svg");*/
      background-repeat: no-repeat;
      margin-top: 17vh;
      color: hsl(207, 13%, 34%);
  }

  .back-image{
      grid-column: 1;
      grid-row: 1/3;
  }

  .back-image img{
      max-width: 134%;
      position: relative;
      bottom: 7em;
      right: 16em;
  }
  .free-open-text{
      grid-column: 2;
      grid-row: 1;
      /*max-width: 66%;*/
      margin-right: 15%;
      margin-top: 4em;
      font-size: 16px;
  }

  .free-open-text-2{
      grid-column: 2;
      grid-row: 2;
      /*max-width: 66%;*/
      margin-right: 15%;
      font-size: 16px;
  }

  footer{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      background: hsl(240, 10%, 16%);
      padding: 7% 5%;
      border-top-right-radius: 7em;
  }

  .foot-logo{
      margin-left: 5%;
  }

  .foot-logo img{
      max-width: 120%;
  }

  .foot-link{
    display: inline-grid;
  }

  .foot-link h4{
      color:white;
      font-size: 19px;
  }

  .foot-link a{
      text-decoration: none;
      color: hsl(240, 2%, 79%);
      line-height: 1.8;
      max-width: 5em;
  }

  .foot-link a:hover{
      text-decoration: underline;
  }

  .all{

  }

  .mobile-arrow{
      display: none;
  }




  @media screen and (max-width: 1240px) {
      .dropbtn{
          width: 77%;
      }

      .future{
          grid-template-rows: 1.6fr 1.5fr 25vh;
          background-position: 48vw 43px;
      }

      .free-open-simple{
          grid-template-rows: 13em 16em;
          margin-top: 14vh;
      }

      .free-open-text{
          margin-top: 0;
      }

      .back-image img{
          right: 12em;
      }
  }

  @media screen and (max-width: 414px) {
      html {
          max-width: 375px;
      }

      header{
          height: 75vh;
      }

      nav{
          grid-template-columns: 1fr 1fr;
      }

      .hamburger{
          display: block;
          margin-left: auto;
      }

      .navbar{
          margin-left: auto;
          margin-right: auto;
          text-align: center;
          display: grid;
          grid-column: 1 / 3;
          grid-row: 2;
          background-color: white;
          width: 100%;
          grid-template-columns: 1fr;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
      }

      .dropdown{
         
      }

      .navbar .dropbtn{
          color: black;
          float:none;
          font-size: 20px;
      }

      .dropbtn img{
          margin: 0;
          display: none;

      }

      .dropbtn img.mobile-arrow{
          display:inline-block;
        
      }

      .sign-in{
          display: inline-grid;
          grid-column: 1 / 3;
          grid-row: 3;
          margin-left: auto;
          margin-right: auto;
          margin-top: 0;
          width: 100%;
          max-height: 83px;
          justify-content: space-around;
          text-align: center;
      }

      .login{
          color: black;
          font-size: 18px;
          
      }

      .sign-up{
          background: linear-gradient(to right, hsl(13, 100%, 72%) , hsl(353, 100%, 62%));
          font-size: 18px;
          padding: 7px 37px;
          color: white;
          border-radius: 53px;
      }

      .head-text{
          display: none;
      }

      .all{
          grid-column: 1/3;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          background-color: white;
          border-radius: 10px;
          z-index: 1;
          display: grid;
          min-height: 38vh;
          grid-template-rows: 2em 22em 6.8em;
      }

      .dropdown-content{
          display:none;
          position: relative;
          box-shadow: none;
          z-index: 0;
          min-width: 0;
          margin: auto;
          margin-top: 2vh;
          width: 74vw;
          background-color: #f1f1f1;
      }

      .dropdown-content a{
          text-align: center;
      }

      .dropdown-content a:hover {
        font-weight:300;
      }

      .dropdown:hover .dropdown-content {
        display: 0;
      }

      .dropdown:active .dropdown-content{
          display:block;
      }
  }